In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("quasars_confirmed_DESVAR", index_col = 0)
 
df.head()

,band,fits,object,COADD_OBJECT_ID,RA_1,Dec_1,Tau,V,Num_Obs,Mu_Bright,NAME,RA_2,DEC_2,BMAG,RMAG,REDSHIFT,RADIO_NAME,XRAY_NAME,CLASS,Separation
col1,,,,,,,,,,,,,,,,,,,,
0,All,C1,2333.0,1398934446,53.811176,-27.993874,0.000654,-0.335448,710.0,20.347243,J033514.68-275938.0,53.81117,-27.99390,20.85,20.66,NaN,NaN,4XMM J033514.6-275935,UNIDENTIFIED,0.097140
0,All,C1,2635.0,1404624987,54.768070,-27.981302,2.133105,-1.175937,645.0,21.074440,OZDES-DR2_03043,54.76806,-27.98133,22.05,21.50,1.227,RACS J033904.2-275850,NaN,QSO TYPE 1,0.105013
0,All,C1,3212.0,1398931274,53.876991,-27.957109,3.032104,-0.774592,706.0,21.593332,J033530.49-275725.4,53.87704,-27.95706,21.76,21.40,NaN,NaN,4XMM J033530.4-275726,UNIDENTIFIED,0.236013
0,All,C1,7214.0,1404613491,54.248928,-27.855904,2.756765,-1.078941,713.0,20.444501,J033659.74-275121.2,54.24893,-27.85591,20.60,20.27,1.600,NaN,4XMM J033659.7-275120,UNIDENTIFIED,0.023756
0,All,C1,8569.0,1398919375,53.740749,-27.832405,2.500353,-1.065541,709.0,21.238810,SVA1_COADD-2940000433,53.74071,-27.83239,22.66,20.76,1.696,NaN,NaN,QSO TYPE 1,0.136571

In [5]:
data_clean = df.loc[(df["Tau"]>=0.05)]
data_clean = data_clean.loc[(data_clean["Tau"]<=3.95)]
data_clean = data_clean.loc[(data_clean["V"]>=-2)]
data_clean = data_clean.loc[((data_clean["V"]+4)/(data_clean["Tau"]+1) >= 1/2)]
data_clean["band"].value_counts()

All    1747
Name: band, dtype: int64